.wrapper {
  position: relative;
}
.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  }
}

// .item {
//   font-weight: 500;
//   display: block;
//   text-decoration: none;
//   padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
//   padding-left: var(--mantine-spacing-md);
//   margin-left: var(--mantine-spacing-xl);
//   font-size: var(--mantine-font-size-sm);
//   color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
//   @mixin hover {
//     background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
//     color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
//   }
// }
// .dropdown-item {

// }
// .list-item {
//     border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
// }

.chevron {
  transition: transform 200ms ease;
}
// .submenu {
//   position: absolute;
//   top: 0;
//   left: 100%;
//   background-color: var(--mantine-color-body);
//   border: 1px solid var(--mantine-color-gray-3);
//   border-radius: var(--mantine-radius-md);
//   padding: var(--mantine-spacing-xs);
//   z-index: 10;
//   min-width: 200px;
// }
.dropdownSubmenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--mantine-color-body);
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: 8px;
  padding: 8px;
  min-width: 180px;
  z-index: 100;
}